<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= activity.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= activity.time.strftime('%H:%M:%S') %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= activity.duration.strftime('%H:%M:%S')  %>
  </p>

  <p>
    <strong>
      User:
    </strong>
    <%= getUsername(activity.user_id) %>
  </p>

</div>
