<h1 class="text-orange mb-5"><%= activity.name %></h1>
<p>By <%= link_to "#{getUsername(activity.user_id)}", user_profile_path(activity.user_id), class: "text-decoration-none text-orange fw-bold" %>, on <%= activity.date %> at <%= activity.time.strftime('%H:%M') %></p>
<p>Duration: <%= activity.duration.strftime('%H:%M:%S') %></p>