<%= form_with(model: activity) do |form| %>
  <% if activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :user_id, id: :activity_user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="mb-3">
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.select :name, [
      "Running", 
      "Swimming", 
      "Walking", 
      "Cycling", 
      "Skiing", 
      "Weightlifting", 
      "Rowing", 
      "Skateboarding",
      "Yoga",
      "Climbing",
      "Tennis",
      "Soccer",
      "Basket"
    ], {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :date, style: "display: block", class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

    <div class="mb-3">
      <%= form.label :time, style: "display: block", class: "form-label" %>
      <%= form.time_field :time, class: "form-control" %>
    </div>

  <div class="mb-3">
    <%= form.label :duration, style: "display: block", class: "form-label" %>
    <%= form.time_field :duration, class: "form-control" %>
  </div>

  <div class="text-center mb-3">
    <% if current_page?(controller: 'activities', action: 'new') %>
      <%= form.submit "Create", class: "btn btn-orange" %>
    <% elsif current_page?(controller: 'activities', action: 'edit') %>
      <%= form.submit "Update", class: "btn btn-orange" %>
    <% end %>
  </div>
<% end %>
