<div id="activity" class="position-absolute top-45 start-50 translate-middle w-50 text-center border border-orange rounded p-3 bg-light">
  <%= render @activity %>

  <div>
    <% if @activity.user_id == current_user.id %>
      <%= link_to "Edit this activity", edit_activity_path(@activity), class: "text-green-dark" %> | <%= link_to "Back to your activities", user_activities_path(@activity.user_id), class: "text-green-dark" %>
    <% else %>
      <%= link_to "Back to #{getUserFirstName(@activity.user_id)}'s activities", user_activities_path(@activity.user_id), class: "text-green-dark" %>
    <% end %>
    

    <%= button_to "Destroy this activity", @activity, method: :delete, class: "btn btn-danger mt-3", data: {confirm: "Are you sure?"} if @activity.user_id == current_user.id %>
  </div>
</div>
