<nav class="navbar navbar-expand-lg navbar-light bg-lime">
  <div class="container-fluid">
    <%= link_to 'FitTrack', root_path, class: "navbar-brand ms-3 text-orange fw-bold" %>
    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-3 mb-2 mb-lg-0 justify-content-end flex-grow-1">
        <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= link_to "Hi #{current_user.first_name}!", '#', class: "nav-link dropdown-toggle #{set_active_class(["/user/#{current_user.id}", "/activities/user/#{current_user.id}", "/activities/new"])}", id: 'navbarDropdown', role: "button", data: {"bs-toggle": "dropdown"}, aria: {expanded: false} %>

              <!-- <a class='nav-link dropdown-toggle <%= set_active_class(["/user/#{current_user.id}", "/activities/user/#{current_user.id}", "/activities/new"]) %>' href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hi <%# current_user.first_name %>!
              </a> -->
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                <li>
                  <%= link_to "Profile", user_profile_path(current_user.id), class: "dropdown-item #{set_active_class("/user/#{current_user.id}")}" %>
                </li>
                <li>
                  <%= link_to 'Your activities', user_activities_path(current_user.id), class: "dropdown-item #{set_active_class("/activities/user/#{current_user.id}")}" %>
                </li>                
                <li>
                  <%= link_to 'Add activity', new_activity_path, class: "dropdown-item #{set_active_class('/activities/new')}" %>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <%= link_to 'Sign out', destroy_user_session_path, class: "dropdown-item", data: {"turbo-method": :delete} %>
                </li>
              </ul>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, class: "nav-link #{set_active_class('/users/sign_in')}" %>
            </li>
            <li class="nav-item py-2 d-none d-lg-block">
                |
            </li>
            <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, class: "nav-link #{set_active_class('/users/sign_up')}" %>
            </li>
        <% end %>
        <li class="nav-item">
            <%= link_to 'About', about_path, class: "nav-link #{set_active_class('/about')}" %>
        </li>
      </ul>
    </div>
  </div>
</nav>